body {
  font-family: 'Noto Sans TC', 'Heiti TC', 'PingFang TC', 'Microsoft JhengHei', 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: transparent;
}

body:before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh; /* Fallback */
  height: 100lvh;
  z-index: -10;
}

body.loaded:before {
  background: url('https://jhihsiyingweb.s3.us-east-1.amazonaws.com/Guand.me/my-wallpaper.jpg') no-repeat center center;
  background-size: cover;
}

body.loaded #loading-wrapper {
  display: none;
}

body.loaded #app-wrapper {
  opacity: 1 !important;
  transition: opacity 2s;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.btn-outline-light.focus,
.btn-outline-light:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: none;
}

.block {
  border: 1px solid white;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.btn {
  font-weight: 600;
}

.badge {
  font-size: 0.875rem;
  font-weight: 600;
}

.badge.clickable:hover {
  background-color: #5dadf2;
  cursor: pointer;
}