body:before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('https://jhihsiyingweb.s3.us-east-1.amazonaws.com/Guand.me/my-wallpaper.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'PingFang TC', 'Heiti TC', 'Noto Sans TC', 'Microsoft JhengHei',
    'Open Sans', sans-serif;
  color: white;
  opacity: 0;
}

body.loaded {
  transition: opacity 0.3s;
  opacity: 1;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.btn-outline-light.focus,
.btn-outline-light:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: none;
}



.block {
  border: 1px solid white;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.badge {
  font-size: 0.875rem;
}

.badge.clickable:hover {
  background-color: #5dadf2;
  cursor: pointer;
}